.bggrad123{
    position: absolute;
    top:-20vh;
    width: 100%;
    background: rgb(0,0,0);
    /* background: linear-gradient(0deg, rgba(0,0,0,1) 31%, rgba(255,255,255,0) 85%); */
    background: linear-gradient(0deg, rgb(182, 29, 29) 31%, rgba(26, 118, 120, 0) );
    
  }
  